.section {
    padding: 2rem 0;
    background-color: var(--light-orange-color3);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.container p {
    text-align: center;
}

.banner {
    width: 100%;
    height: fit-content;
}
