.pets-list {
  padding: 2rem 0;
}

.pets-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.pets-list-grid {
  display: grid;
  gap: 1rem;
  place-content: center;
}

@media only screen and (min-width: 768px) {
  .pets-list-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 992px) {
  .pets-list-grid {
    gap: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .pets-list-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
