.adoptionCard {
  max-width: 24rem;
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--off-white-background-color);

  && h4 {
    font-size: 1.4rem;
  }

  && img {
    width: 100%;
  }

  && div {
    padding: 0.5rem;
  }
}