.label {
  text-transform: capitalize;

  &[aria-required=true] {
    &::after {
      content: '*';
      color: var(--error-color);
      margin-left: 0.25rem;
    }
  }
}

.control {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}