* {
  margin: 0;
  box-sizing: border-box;
}

/* Our color scheme.  We can rename these. */
:root {
  --primary-color: #ed6b5b;
  --secondary-color: #3a3e59;
  --light-orange-color: #f9ac68;
  --light-orange-color2:#FCEED5;
  --off-white-background-color: #ece6ce;
  --text-color: #333;
  --white-color: #ffffff;
  --grey-color: #c4c4c4;
  --error-color: #98000b;
  --light-blue-color: #DFEFFF;
}
