* {
  margin: 0;
  box-sizing: border-box;
}

/* Our color scheme.  We can rename these. */
:root {
  --primary-color: #ed6b5b;
  --secondary-color: #3a3e59;
  --light-orange-color: #f9ac68;
  --off-white-background-color: #ece6ce;
  --text-color: #333;
  --white-color: #ffffff;
  --grey-color: #c4c4c4;
  --error-color: #98000b;
}

.container-responsive {
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}

@media only screen and (min-width: 768px) {
  .container-responsive {
    max-width: 720px;
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .container-responsive {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-responsive {
    max-width: 1140px;
    padding: unset;
  }
}

@media only screen and (min-width: 1400px) {
  .container-responsive {
    max-width: 1320px;
  }
}
