.label {
  text-transform: capitalize;
}

.control {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

@media only screen and (min-width: 1200px) {
  .control {
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: flex-start;
  }
}
